<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression_Suite">
    <listeners>
        <listener class-name="Listener.AllureScreenShot"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Autochek_WebApp_Automation">
        <classes>
            <class name="Tests.DealerPlus.Login">
                <methods>
                    <include name="VerifyLoginWithUrlValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>