<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression_Suite" parallel="false" verbose="1">

    <listeners>
        <listener class-name="Listener.AllureScreenShot"/>
    </listeners>

    <!-- RUN ALL SELECTED TESTS AS MT940 USer -->
    <test verbose="2" preserve-order="true" name="Autochek_WebApp_Automation - MT940 USer">
        <classes>
            <class name="Tests.BankApp.BankAppListRefresh">
                <methods>
                    <include name="addBankAndVerifyInList"/>
<!--                    <include name="deleteBankAndVerify"/>-->
<!--                    <include name="addBank_InlineEditAndVerifyClosed"/>-->
<!--                    <include name="invalidAccountNumber"/>-->
<!--                    <include name="duplicateAccountNotAllowed"/>-->
<!--                    <include name="inlineRollbackOnCancel"/>-->
<!--                    <include name="hedgeRequiredFields"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>
